{% extends "layout.html" %} 

{% block content %}


<h1>Lector de Código de Barras desde la Cámara</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <script src="https://cdn.jsdelivr.net/npm/quagga/dist/quagga.min.js"></script>
    
    <script>
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
                video.play();
                Quagga.init({
                    inputStream: {
                        name: "Live",
                        type: "LiveStream",
                        target: video,
                        constraints: {
                            width: 640,
                            height: 480,
                            facingMode: "environment" // O "user" si prefieres la cámara frontal
                        },
                    },
                    decoder: {
                        readers: ["ean_reader"] // Tipo de códigos de barras a leer (EAN-13)
                    }
                }, function(err) {
                    if (err) {
                        console.log(err);
                        return;
                    }
                    console.log("QuaggaJS initialization finished");

                    Quagga.start(); // Inicia la captura
                    Quagga.onDetected(function(data) {
                        // Cuando se detecta un código de barras, se dispara este evento
                        console.log("Código de barras detectado:", data.codeResult.code);

                        // Obtener el canvas donde se muestra el video
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.width = 640;
                        canvas.height = 480;
                        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);


                        // Convertir el canvas a una imagen base64
                        var imageDataURL = canvas.toDataURL('image/png');

                        // Enviar la imagen al servidor
                        fetch('/recibir_frame', {
                            method: 'POST',
                            body: JSON.stringify({ image_data: imageDataURL }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            console.log('Frame enviado al servidor');
                        })
                        .catch(error => {
                            console.error('Error al enviar el frame:', error);
                        });
                    });
                });
            })
            .catch(function(err) {
                console.log("Error al acceder a la cámara: " + err);
            });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('redirect', function(data) {
            window.location.href = data.url;  // Redirigir automáticamente
        });
    </script>


{% endblock content %}

