{% extends "layout.html" %} 

{% block content %}
<style>
    
</style>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td>Codigo EAN</td>
                <td>{{ codigo.ean }}</td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>{{ codigo.nameComplete }}</td>
            </tr>
            <tr>
                <td>Tamaño</td>
                <td>{{ codigo.dimension }}{{ codigo.unidad_de_peso }}</td>
            </tr>
            <tr>
                <td>Precio</td>
                <td>{{ codigo.precio }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pt-3 text-center">
        <a class="btn btn-danger" href="{{ url_for('capturar') }}">Escanear de nuevo</a>
    </div>
</div>
{% endblock content %}
