{% extends "layout.html" %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Codigo EAN</td>
                        <td>{{ codigo }}</td>
                    </tr>
                    <tr>
                        <td>Descripcion</td>
                        <td>{{ descripcion }}</td>
                    </tr>
                    <tr>
                        <td>Tamaño</td>
                        <td>{{ dimension }}{{ codigo.unidad_de_peso }}</td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td>{{ precio }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="pt-3 text-center">
                <a class="btn btn-info" href="#">Agregar producto</a>
            </div>

            <div class="pt-3 text-center">
                <a class="btn btn-danger" href="{{ url_for('capturar') }}">Escanear de nuevo</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
